@model CrudApp.Db.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PageCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PageCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>
       
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifyUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifyUserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
       
    </dl>
</div>
<div>
    <a asp-action="Confirm" asp-route-id="@Model.Id">Confirm</a> |
    <a asp-action="Cancel" asp-route-id="@Model.Id">Cancel</a> |

    <a asp-action="Index">Back to List</a>
</div>
