@model CrudApp.Db.Models.Category

@{
    ViewData["Title"] = "Details";
}



<div>
    <div class="container">
        <h4>@stringLocalizer["Create"]</h4>
        <hr />
        <div class="row">
            <div class="col-md-8">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Image)
                    </dt>
                    <dd>
                        <img src="~/Image/@Model.Image" alt="post" height="300" width="300">
                    </dd>
                    <div>
                        <a asp-action="Index">@stringLocalizer["Back to List"]</a>
                    </div>

                </dl>
            </div>
           
        </div>
    </div>
</div>