@model IEnumerable<CrudApp.Db.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h2>@stringLocalizer["Genres"]</h2>
<style>
    td {
        text-align: center;
    }

    th {
        text-align: center;
    }
</style>
<div class="container">
    <hr />
    <p>

        <a asp-action="Create">@stringLocalizer["Create"]</a>

    </p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                    @stringLocalizer["Name"]
                </th>
                
                <th>@stringLocalizer["Details"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
               
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
}
        </tbody>
    </table>
</div>