@model IEnumerable<CrudApp.Db.Models.User>

@{
    ViewData["Title"] = "Top";
}

<h2>@stringLocalizer["TopUsers"]</h2>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @stringLocalizer["Name"]
            </th>
            <th>
                @stringLocalizer["Surname"]
            </th>
           
           
            <th>@stringLocalizer["Count"]</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Products.Count)
            </td>
            
        </tr>
}
    </tbody>
</table>
