@model CrudApp.Db.Models.Product

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<html>
<body>
    
    <div class="metro_subheader dark-overlay dark-overlay-2" style="background-image: url(/Public/metropolitanhost.com/themes/themeforest/html/trickly/assets/img/@ViewData["image"])">
        <div class="container">
            <div class="metro_subheader-inner">
                <h1>Book Details</h1>
                
            </div>
        </div>
    </div>
    <!-- Subheader End -->
    <!-- Post Content Start -->
    <div class="section metro_post-single">
        <div class="container">

            <div class="row">
                <div class="col-lg-8">

                    <!-- Content  -->
                    <div class="metro_post-single-wrapper metro_recipe-single-wrapper">

                        <h2 class="entry-title">@Model.Name</h2>


                        <div class="metro_post-single-thumb">
                            <img src="~/Image/@Model.Image" alt="post" height="300" width="300">
                            <div class="metro_post-date">
                                <span>@ViewBag.day</span>
                                <span>@ViewBag.Month</span>
                            </div>

                        </div>

                        <!-- Entry Content Start -->
                        <div class="entry-content">
                            <span class="metro_post-meta">
                                @*<a href="#"> <i class="far fa-user"></i> @Model.User.Name </a>*@

                                <a href="blog-details.html"> <i class="far fa-clock"></i> @ViewBag.Date ago created by Nigar</a>
                            </span>



                            <div class="row">

                                <div class="col-lg-6">
                                    <div class="metro_ingredients">
                                        <h4>@stringLocalizer["About"]</h4>
                                        <ul>

                                            <li>
                                                <i class="fas fa-book">@stringLocalizer["Name"]:</i> @Model.Name
                                            </li>

                                            <li>  <i class="fas fa-user-edit">@stringLocalizer["Author"]:</i> @Model.Author </li>
                                            <li>  <i class="fas fa-book">@stringLocalizer["Page Count"]:</i> @Model.PageCount </li>
                                            <li>  <i class="fas fa-book">@stringLocalizer["PublishingHouse"]:</i> @Model.PublishingHouse </li>
                                            <li>  <i class="fas fa-book">@stringLocalizer["Category"]:</i> @Model.Category.Name </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>



                            <div class="row">

                                <div class="col-lg-10">
                                    <div class="metro_ingredients">
                                        <h4>@stringLocalizer["Description"]</h4>
                                        <ul>

                                            <li>
                                                @Model.Description
                                            </li>


                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Entry Content End -->

                        </div>




                    </div>



                </div>

            </div>
        </div>
        <!-- Product Content End -->
        <!-- Instagram Start -->

</body>
</html>