@model IEnumerable<CrudApp.Db.Models.Product>

@{
    ViewData["Title"] = stringLocalizer["Index"];
    Layout = "~/Views/Shared/_Layout2.cshtml";

}

<h2>@stringLocalizer["Books"]</h2>

<p>
    <a href="Home/Logout">Logout</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @stringLocalizer["Name"]
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Price)
        </th>*@
            <th>
                @stringLocalizer["Author"]

            </th>
            <th>
                @stringLocalizer["Image"]

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@stringLocalizer["Edit"]</a> |
                <a asp-action="BookDetails" asp-route-id="@item.Id">Details</a> |
                @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
